.btn {
    @include btn;
}

.btn:hover {
    // color: $main-color;
    background-color: darken($main-color, 5%);
    border: 1px solid $main-light-color;
    cursor: pointer;
    box-shadow: none;
}

.btn:active{
    background-color: $main-color;
    color: $secondary-color;
    box-shadow: none;
}

// .btn.form-btn {
//     background-color: darken($main-light-color, 5%);
// }

// .btn.form-btn:hover{
//     background-color: darken($main-light-color, 10%);
// }

.read-more-button {
    @include btn;
   
    height: 30px;
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 1.4rem;
    display: grid;
    place-items: center;
    
}