.container.header{
    @media (max-width: 680px){
        text-align: center;
    }
    .header{
        font-size: 5rem;
        margin-bottom: 20px;
        letter-spacing: 4px;
    }
    .subheader{
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 2px;
    }
}