.container.header{
    // padding: 80px 20px;
    @media (max-width: 680px){
        text-align: center;
    }
    .header{
        font-size: 4rem;
        color: darken($accent-color, 10%);
        margin-bottom: 15px;
        letter-spacing: 4px;
    }
    .subheader{
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 2px;
    }
}