.container.about{
    .row {
        h2 {

        }
        img {
            width: 280px;
            object-fit: cover;
            object-position: center;
            @media(max-width: 680px){
                margin: 30px auto;
               
            }
        }
        p {
            font-size: 14px;
            text-align:justify;
            @media(max-width: 680px){
                margin: 0 40px;
               
            }
        }
    }
}