
.article-list.row{
    .article{
        width: 220px;
        height: 260px;
        margin: 20px;
        position: relative;
        background-position: center;
        background-size: cover;
        @media(max-width: 1080px){
            width: 240px;
        height: 280px;
        }
        .article-wrapper {
                width: 80%;
                height: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                color: $main-light-color;
                transform: translate(-50%, -50%);
                z-index: 3;
                text-align: center;
            h5 {
                font-size: 14px;
                color: $main-light-color;
            }
            .date {
                font-size: 14px;
                color: $main-light-color;
                margin: 20px;
            }
            .intro {
                font-size: 14px;
                color: $main-light-color;
            }
        }
    }
    .article::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $secondary-color;
        opacity: 0.5;
        }
}
