.container.hero {
    // overflow: hidden;

        .row {
            padding-top: 40px;
            @media(max-width: 680px){
                padding-top: 0;
            }
            .hero-left {
                text-align: center;
                margin-top: 30%;
                @media(max-width: 680px){
                    margin-top: 0;
                }
                

                h1 {

                    font-size: 4.2rem;
                }

                p {
                    font-size: 1.8rem;
                    margin-top: 20px;
                    @media(max-width: 680px){
                        margin-bottom: 20px;
                    }

                }
            }

            .hero-right {
                text-align: center;

                .swiper-container {
                    padding-bottom: 40px;
                    width: 440px;
                    
                    text-align: center;
                    @media(max-width: 1080px){
                        width: 380px;
                    }
                    @media(max-width: 860px){
                        width: 320px;
                       
                    }
                    @media (max-width: 400px){
                        width: 100%;
                        
                    }
                    
                    
                    .swiper-button-next, .swiper-button-prev {
                        color: $accent-color;
                        
                    }
                    .swiper-button-next::after, .swiper-button-prev::after {
                        font-size: 1.8rem;
                    }

                    .swiper-pagination {
                        bottom: 15px;
                        .swiper-pagination-bullet-active {
                            background: $accent-color;
                        }
                        

                        }
                    
                   .swiper-wrapper {
                      
                        .swiper-slide {

                                .album-art {
                                   
                                    margin: auto;
                                    width: 340px;
                                    height: 340px;   
                                    background-size: cover;  
                                    position: relative;
                                    text-align: center;
                                    overflow: hidden;
                                    background-color: $accent-color;
                                    @media(max-width: 1080px){
                                        width: 300px;
                                        height: 300px; 
                                    }
                                     @media(max-width: 860px){
                                         width: 250px;
                                        height: 250px; 
                                     }
                                    @media (max-width: 400px){
                                        width: 220px;
                                        height: 220px;
                                    }

                                    .blur {
                                        background-size: cover;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        filter: blur(2px); 
                                        // filter: grayscale(1);
                                        opacity: 0;
                                        transition: all 0.5s linear;
                                        z-index: 1;
                                    
                                    }

                                   
                                        .blur:before {
                                            content: '';
                                            background-color: $secondary-color;
                                            opacity: 0.6;
                                            width: 100%;
                                            height: 100%;
                                            z-index: 1;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                        }

                                        .blur.visible {
                                            opacity: 1;
                                        }

                                        .project-wrap {
                                            opacity: 0;
                                            width: 90%;
                                            height: 90%;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            transition: opacity 0.5s;
                                            z-index: 3;

                                            h4 {
                                                display: inline-block;
                                                margin: 0px 7px;
                                                font-size: 1.8rem;
                                                color: $main-color;
                                                position: relative;

                                                &::after {
                                                    content: "";
                                                    position: absolute;
                                                    width: 2px;
                                                    height: 18px;
                                                    line-height: 0;
                                                    background-color: $main-color;
                                                    margin: 0 7px;
                                                }

                                                &:last-of-type::after {
                                                    display: none;
                                                }

                                            }



                                p {
                                    display: inline-block;
                                    width: 100%;
                                    font-size: 1.4rem;
                                    color: $main-color;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    padding: 10px;
                                    transform: translate(-50%, -50%);

                                    //TRANSFER THIS TO CUSTOM???
                                    .expand { 
                                        display: block; 
                                        color: $main-color; 
                                        font-size: 1.8rem;
                                    }

                                }

                                iframe {
                                    width: 100%;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;  
                                    padding-top: 6px;
                                }

                        }

                        .project-wrap.visible {
                            opacity: 1;
                        }



                    }

                }
                   }
                
                   

                }

            }
        }

}