body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    color: $secondary-color;

    &::-webkit-scrollbar {
        background-color: darken($main-color, 20%);
        background-color: $main-color;
        width: 15px;

    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten($main-color, 10%);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background: $main-light-color;
        background-color: $main-color;

    }
}

html {
    font-size: 10px;
    @media (max-width: 680px){
        font-size: 8px;
    }
}