//colors
$main-color: rgb(235, 192, 227);
$main-light-color: rgb(247, 238, 238);
$secondary-color: rgb(59, 25, 82);
$accent-color: rgb(68, 249, 255);

//fonts
$main-font: Helvetica, sans-serif;
// $secondary-font: 

//aileron heave & aileron regular

//paddings and margins

$section-padding: 80px;